$default-font-size: 14pt;
$wide-spacing: 0.1em;
$back-color: #111;
$text-color: #fff;
$text-color-dark: #ccc;
$white-transp-75: #ffffffc0;
$white-transp-50: #ffffff80;
$white-transp-25: #ffffff40;
$white-transp-18: #ffffff30;
$white-transp-12: #ffffff20;
$black-transp-75: #000000c0;
$black-transp-50: #00000080;
$black-transp-25: #00000040;
$black-transp-12: #00000020;
$dark: #222;
$medium-dark: #333;
$medium: #444;
$medium-light: #555;
$light: #666;
$highlight: #888;
$great-color: #58d;
$ultra-color: #b82;
$master-color: #96d;
$transition-duration-instant: 0.075s;
$transition-duration-fast: 0.15s;
$transition-duration-medium: 0.3s;
$transition-duration-slow: 0.6s;
$main-width: 647px;
$corner-radius: 5px;
$padding: 4px;
$widget-height-small: 24px;
$widget-height-medium: 32px;
$widget-height-large: 48px;

@mixin bold {
  font-weight: 700;
  letter-spacing: 0.025em;
}

@mixin extra-bold {
  font-weight: 900;
  letter-spacing: 0.025em;
}

@mixin text-shadow-subtle {
  text-shadow: 0 0 2px #000;
}

@mixin equal-width($n) {
  display: flex;
  flex-direction: row;

  & > * {
    width: 100%/$n;
  }
}

/* Scrollbars */

@mixin scrollbars($track-color: $dark, $thumb-color: $light, $thumb-hover-color: $highlight) {
  scrollbar-width: $corner-radius;
  scrollbar-height: $corner-radius;
  scrollbar-color: $thumb-color $track-color;

  &::-webkit-scrollbar {
    width:  $corner-radius;
    height: $corner-radius;
  }

  &::-webkit-scrollbar-track {
    background: inherit;
    border-radius: $corner-radius;
  }

  &::-webkit-scrollbar-thumb {
    background: $thumb-color;
    border-radius: $corner-radius;

    &:hover {
      background: $thumb-hover-color;
    }
  }
}

.scroll-x {
  @include scrollbars;
  padding: $corner-radius*2;
  padding-bottom: $corner-radius !important;
  width: 100%;
  overflow-x: scroll;
}

.scroll-y {
  @include scrollbars;
  padding: $corner-radius*2 !important;
  padding-right: $corner-radius !important;
  height: 100%;
  overflow-y: scroll;
}

.no-scroll {
  overflow: hidden !important;
  padding: $corner-radius*2;
}

/* General */

.list-item-wrapper {
  margin: 0;

  &.hide-content {
    overflow: hidden;
  }
}

/* Text */

.left-aligned {
  text-align: left !important;
}

.center-aligned {
  text-align: center !important;
}

.right-aligned {
  text-align: right !important;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.caption {
  font-size: 16pt;
  font-weight: bold;
  margin: $padding*2;
}

.uppercase-label {
  @include bold;
  text-transform: uppercase;
  margin: $padding*2;

  &-small {
    text-transform: uppercase;
    font-size: 12pt;
    margin: $padding*2;
  }
}

.numeric-label {
  @include bold;
  letter-spacing: 0;
  margin: $padding*2;
}

/* Flex */

.flex-reverse {
  flex-direction: row-reverse;
}

/* Frames */

.frame {
  padding: $padding;
  margin: $padding 0;
  border: 1px solid $light;
  border-radius: $corner-radius;
  color: $text-color-dark;

  &.with-caption {
    margin-top: 32px;
  }
}

.frame-caption {
  font-weight: bold;
  font-size: 18pt;
  position: relative;
  top: -22px;
  padding: 0 $padding;
  background: $dark;
}

.frame-body {
  margin: 0;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

.left-column-wrapper {
  width: 50%;
  margin-right: -0.5px;
}

.right-column-wrapper {
  width: 50%;
  margin-left: -0.5px;
}

.left-column-frame {
  border-top: 1px solid $light;
  border-right: 1px solid $light;
  padding: $padding;
  padding-left: 0;
  height: 100%;
}

.right-column-frame {
  border-top: 1px solid $light;
  border-left: 1px solid $light;
  padding: $padding;
  padding-right: 0;
  height: 100%;
}

.left-column-body {

}

.right-column-body {

}

.sub-caption {
  font-weight: bold;
  margin: $padding*4 $padding $padding $padding;
  text-align: center;
  height: 20px;
}

/* Padding/Margins */
.pad-top {
  margin-top: $padding;
}

.pad-top-half {
  margin-top: $padding/2;
}

.pad-bottom {
  margin-bottom: $padding;
}

.pad-bottom-half {
  margin-bottom: $padding/2;
}

.pad-left {
  margin-left: $padding;
}

.pad-left-half {
  margin-left: $padding/2;
}

.pad-right {
  margin-right: $padding;
}

.pad-right-half {
  margin-right: $padding/2;
}

.border-top {
  border-top: $padding solid $back_color;
}

.border-bottom {
  border-bottom: $padding solid $back_color;
}

#pokemon-caption-type1-color {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
}

.split-top {
  width: 100%;
  position: absolute;
  top: 0;
}

.split-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.hidden {
  display: none !important;
}
