@import "common.scss";

#form-league-wrapper {
  padding: $padding*3;
  padding-left: 0;
}

#form-league-tab {
  &-great {
    background: $great-color;
    @include text-shadow-subtle;
  }
  &-ultra {
    background: $ultra-color;
    @include text-shadow-subtle;
  }
  &-master {
    background: $master-color;
    @include text-shadow-subtle;
  }
}

#form-iv-wrapper {
  padding: $padding*3;
  padding-right: 0;

}

.form-iv-slider {
  background: #4440;
  border-radius: $corner-radius;
  padding: $padding;
  margin: $padding 0;
  cursor: pointer;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  & > div > svg > g > .bar-background {
    fill: $medium;
  }
}

.form-iv-label {
  display: inline-block;
  padding: 0 !important;
  padding-left: $padding*1.5 !important;
  margin: 0 !important;
  width: 20px;
}

.form-iv-bar {
  & .bar-background {
    fill: $medium-light;
  }

  & .bar-label {
    fill: $text-color-dark;
  }
}

.form-iv-value {
  fill: $text-color-dark;
}

.form-iv-min {
  fill: #999;
}

.form-stat-top-label {
  width: 100%;
  margin: 20px 0 -20px 2px;
  text-align: center;
  letter-spacing: 0;
  font-size: unset;
  @include bold;
}

.form-stat-bottom-labels {
  width: 100%;
  margin: -52px 0 20px 2px;
  display: flex;
  flex-direction: row;

  & > * {
    width: 50%;
    text-align: center;
    letter-spacing: 0;
    font-size: unset;
    @include bold;

    &:first-child {
      margin-right: 30px;
    }
    &:last-child {
      margin-left: 30px;
    }
  }
}

.form-stat-spiderchart {
  height: 260px;

  & > .spider-container {
    margin-top: 20px;
    margin-bottom: -20px;
  }
}
