@import "common.scss";

/* Description */

#form-description-frame {
  margin-top: $padding;
  margin-bottom: 24px;
  text-align: justify;

  & u {
    opacity: 0;
  }
}

/* Top Bar */

#form-general-top-wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 64px;
}

/* Height */

#form-height-wrapper {
  width: 21%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  //margin-right: 10%;
}

#form-height-icon {
  margin-right: $padding;
  height: 0;
}

#form-height-bar {
  margin-right: $padding;
  width: 2px;
  height: 0;
  background: $text-color-dark;
}

#form-height-label {
  margin: 0;
  margin-bottom: 4px;
  min-height: 14px;
  min-width: 80px;
}

/* Weight */

#form-weight-wrapper {
  width: 21%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.form-weight-pan {
  width: $widget-height-small;
  height: 4px;
  margin-bottom: 22px;
  border-radius: 0 0 10px 10px;
  background: $text-color-dark;
  display: flex;
  align-items: flex-end;
}

#form-weight-person {
  justify-content: center;
}

#form-weight-icon {
  height: 32px;
  margin-bottom: 6px;
}

#form-weight-pokemon {
  justify-content: flex-start;
}

#form-weight-label {
  min-width: 100px;
  margin: 0;
  margin-bottom: 4px;
}

#form-weight-bar {
  width: 2px;
  height: 48px;
  margin: 0 $padding;
  background: $text-color-dark;
}

//
// #form-weight-label {
//   margin: 0;
//   text-align: center;
// }
//
// #form-weight-bar {
//   width: 4px;
//   height: 74px;
//   margin: 0 $padding;
//   background: $text-color-dark;
// }

/* Gender Ratio */

#form-gender-wrapper {
  width: 58%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.form-gender-ratio {
  width: 10px;
}

#form-gender-bar {
  width: 134px;
}

#form-female-bar {
  left: 0;
  right: unset;
  background: #bd4d8d;
  border-right: 1.25px solid $dark;
}

#form-male-bar {
  right: 0;
  left: unset;
  background: #3d6dbd;
  border-left: 1.25px solid $dark;
}

#form-genderless-label {
  text-transform: uppercase;
  width: 100%;
}

/* Encounter rates */
#form-encounter-wrapper {
  width: 25%;
}

/* Type */

#form-types {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#form-resistances {
  padding: $padding*2;
  padding-bottom: $padding;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#form-weaknesses {
  padding: $padding*2;
  padding-bottom: $padding;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.type-label {
  margin: $padding 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-type-effectiveness-label {
  height: $widget-height-large;
  margin: $padding;
  border-radius: $widget-height-large;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;

  &.reverse {
    flex-direction: row-reverse;
    justify-content: end;
  }
}

.form-type-effectiveness-percent {
  margin: $padding;
  color: $text-color;
  @include text-shadow-subtle;
}

/* Evolutions and relatives */

$form-evolution-full-width: 100px;
$form-evolution-medium-width: 32px;
$form-evolution-short-width: 20px;
$form-evolution-path-corner-radius: $corner-radius*2;
$form-evolution-path-width: 2px;

#form-evolution-body {
  @include scrollbars;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 25px;
  margin-top: -20px;
  color: $light;
  text-transform: uppercase;
  overflow: hidden;

  &.with-evolutions {
    flex-direction: column;
    justify-content: unset;
    align-items: center;
  }

  &.overflow {
    overflow-x: scroll;

    & > .form-evolution-root {
      padding-left: 40px;
    }
  }
}

.form-evolution-root {
  //margin: 0 $form-evolution-medium-width*0.5;
  &.overflow {
    margin: auto;
  }
}

.form-evolution-row {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.form-evolution-column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-evolution-reqs-wrapper {
  position: absolute;
  width: $form-evolution-full-width;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-evolution-reqs-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding;
  background: $dark;
  border: $form-evolution-path-width solid $light;
  border-radius: $form-evolution-path-corner-radius;

  & > * {
    margin: $padding;
  }
}

.form-evolution-req-icons-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-evolution-req-icon {
  margin: 0 $padding;
}

.form-evolution-req-label {
  color: $text-color-dark;
  display: flex;
  flex-direction: row;
  text-align: right;
}

.form-evolution-req-number {
  text-transform: none !important;
  letter-spacing: 0;
  margin-left: $padding;
}

.form-evolution-req-text {
  text-transform: uppercase;
  font-size: 12pt;
}

.form-evolution-descendant-image-wrapper {
  height: 130px;
}

.form-evolution-descendant-line {
  position: absolute;
  top: 50%;
  bottom: 50%;
  width: 100%;
  height: $form-evolution-path-width;
  margin-top: -$form-evolution-path-width/2;
  background: $light;
  z-index: -1;
}

.form-evolution-path {
  height: 100%;

  &.full {
    width: $form-evolution-full-width;
  }

  &.medium {
    width: $form-evolution-medium-width;
  }

  &.short {
    width: $form-evolution-short-width;
  }

  &-line {
    fill: none;
    stroke: $light;
    stroke-width: $form-evolution-path-width;
    rx: $form-evolution-path-corner-radius;
    x: $form-evolution-path-width * 0.5;

    &.dashed {
      stroke-dasharray: 5 5;
    }
  }
}
