@import "common.scss";

#pokemon-list-wrapper {
  position: absolute;
  width: 100%;
  height: auto;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  background: $back-color;
  overflow: hidden;
  box-shadow: 0 $corner-radius $corner-radius*2 #00000088;
  transition: top $transition-duration-fast;
  z-index: 42;

  &.shown {
    top: 0;
  }

  &.hidden {
    top: -110%;
  }
}

#pokemon-list-filter-wrapper {
  position: relative;
  margin: 2px;
  display: flex;
  flex-direction: column;
}

#pokemon-list-filter-icon {
  position: absolute;
  right: $padding*3;
  bottom: 16px;
}

#pokemon-list-filter {
  @include extra-bold;
  font-family: "Lato", sans-serif;
  font-size: 24pt;
  color: $text-color;
  width: auto;
  margin: 8px;
  padding: 4px;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  z-index: 1;
  transition: border-color $transition-duration-instant;

  &:hover {
    border-bottom: 1px solid #888;
  }

  &:focus {
    outline: none;
  }
}

#pokemon-list {
  @include scrollbars($dark, $light, $highlight);
  margin: $padding;
  padding: 0;
  height: 100%;
  list-style-type: none;
  overflow-y: scroll;
  border-radius: $corner-radius;
}

#pokemon-list-message-wrapper {
  overflow: hidden;
}

#pokemon-list-message {
  font-size: 20px;
  margin: 0 $padding;
  padding: $padding*4;
  background: $dark;
}

.pokemon-list-row-wrapper {
  margin-right: $padding;
  margin-top: $padding;

  &:first-child {
    margin-top: 0;
  }
}

.pokemon-list-row {
  cursor: pointer;
  position: relative;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pokemon-list-type1-color {
  height: 75%;
  transition: background $transition-duration-instant;
}

.pokemon-list-type2-color {
  height: 25%;
  transition: background $transition-duration-instant;
}

.pokemon-list-image-background {
  width: 80px;
  height: 250px;
  transform: rotate(-22.5deg) translate(-30px);
  transition: background $transition-duration-instant;
}

.pokemon-list-image {
  width: 52px;
  height: 52px;
  object-fit: scale-down;
  margin: $padding;
  transform: rotate(22.5deg) translate(64px, 74px);
}

.pokemon-list-name {
  @include extra-bold;
  @include text-shadow-subtle;
  margin-left: -10px;
  font-size: 24px;
  z-index: 1;
}
