@import "common.scss";

/* Caption */

#pokemon-caption {
  position: relative;
  height: 120px;
  max-height: 120px;
  min-height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  box-shadow: -$corner-radius*2.5 $corner-radius*2 $corner-radius*2 #00000088;
  z-index: 1;
}

#pokemon-caption-type1-color {
  height: 80%;
}

#pokemon-caption-type2-color {
  height: 20%;
}

#pokemon-caption-image-background {
  width: 160px;
  height: 500px;
  transform: rotate(-22.5deg) translate(-60px);
}

#pokemon-caption-image {
  width: 112px;
  height: 112px;
  margin: $padding;
  transform: rotate(22.5deg) translate(128px, 148px);
}

#pokemon-caption-name-wrapper {
  margin-left: -25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  z-index: 1;
}

#pokemon-caption-name {
  @include extra-bold;
  @include text-shadow-subtle;
  color: $text-color;
  font-size: 24pt;
  margin-bottom: 4px;
}

#pokemon-caption-category {
  font-weight: regular;
  text-transform: uppercase;
  color: $white-transp-75;
  margin-top: -2px;
}

#pokemon-caption-id {
  position: absolute;
  right: 80px;
  font-weight: 100;
  letter-spacing: -0.05em;
  font-size: 50pt;
  color: $white-transp-50;
}

#pokemon-caption-rarity {
  margin-right: -62px;
  width: 200px;
  text-transform: uppercase;
  color: $white-transp-75;
  // border-top: 2px solid $white-transp-25;
  // border-bottom: 2px solid $white-transp-25;
  box-shadow: 2px 2px 0 $black-transp-50;
  transform: rotate(-45deg);

  &.legendary {
    background: #222266;
  }

  &.mythical {
    background: #440044;
  }
}

/* Form Selector */

#form-selection-bar {
  box-shadow: -$corner-radius*2.5 $corner-radius*2 $corner-radius*2 #00000088;
  z-index: 1;
  transition: min-height $transition-duration-medium, height $transition-duration-medium;

  &.collapsed {
    height: 0;
    min-height: 0;
  }
}

.form-selection-button.selected {
  @include text-shadow-subtle;
}

/* Navbar */

.pokemon-navbar-tab {
  width: 33%;
  background: $light;
}
