@import "common.scss";

.spider-axis {
  fill: none;
  stroke: $light;
}

.spider-tick {
  fill: none;
  stroke: $medium;
}

.spider-tick-outer {
  fill: none;
  stroke: $light;
}

.spider-shape {
  stroke: $text-color-dark;
  stroke-width: 2px;
  fill: $white-transp-25;
}

.spider-label {
  font-size: 8pt;
  text-transform: uppercase;
  fill: $text-color-dark;
}
