@import "common.scss";

/* Tabs */

.tab-bar {
  height: 50px;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.tab {
  text-transform: uppercase;
  text-align: center;
  color: $text-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: opacity $transition-duration-instant;
  opacity: 0.5;
  cursor: pointer;

  &:hover, &:focus {
    opacity: 0.75;
  }

  & > * {
    flex-grow: 1;
    margin: $padding;
    line-height: 16pt;
  }

  &:active {
    opacity: 1;
  }

  &.selected {
    font-weight: bolder;
    opacity: 1;
    cursor: default;

    &:hover {
      opacity: 1;
    }
  }
}

/* Bars/Meters */

.horizontal-bar {
  height: $widget-height-small;
  margin: $padding;
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: $corner-radius - 2px;
  overflow: hidden;
  background: $medium;

  &.round-left {
    border-top-left-radius: 9001px;
    border-bottom-left-radius: 9001px;
  }

  &.round-right {
    border-top-right-radius: 9001px;
    border-bottom-right-radius: 9001px;
  }

  &.large {
    height: $widget-height-large;
  }

  &.transparent {
    background: none;
  }
}

.horizontal-bar-segment {
  flex-grow: 1;
  border-left: 0.5px solid $dark;
  border-right: 0.5px solid $dark;

  &.start {
    border-left: 0;
  }

  &.end {
    border-right: 0;
  }

  z-index: 1;
}

.horizontal-bar-value {
  position: absolute;
  width: 50%;
  height: 100%;
  background: $text-color-dark;

  &.reverse {
    right: 0;
  }

  &.round-left {
    border-top-left-radius: 9001px;
    border-bottom-left-radius: 9001px;
  }

  &.round-right {
    border-top-right-radius: 9001px;
    border-bottom-right-radius: 9001px;
  }
}

/* Type Icon */

.type-icon {
  min-width: $widget-height-large;
  width: $widget-height-large;
  min-height: $widget-height-large;
  height: $widget-height-large;
  box-shadow: 0 0 2px $dark;
  border-radius: $widget-height-large;
}

/* Pokémon Icons */

.pokemon-image-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.pokemon-image-frame {
  width: 100px;
  height: 100px;
  margin: $padding 0;
  border: 2px solid $light;
  border-radius: 1000px;
  position: relative;
  overflow: hidden;
  transition: border-color $transition-duration-instant;

  &.selected {
    border: 2px solid $text-color-dark;
  }
}

.pokemon-image {
  width: 66%;
  height: 66%;
  position: absolute;
  top: 17%;
  left: 17%;
}

.pokemon-image-name {
  position: absolute;
  bottom: 0;
  left: -50%;
  right: -50%;
  text-align: center;
  text-transform: uppercase;
  font-size: 12pt;
  color: $light;
  transition: color $transition-duration-instant;

  &.selected {
    color: $text-color-dark;
  }
}

.pokemon-image-hot-area {
  position: absolute;
  bottom: 0;
  border-radius: 1000px 1000px 0 0;
  cursor: pointer;
}
