@import "common.scss";

/* Tabs & Menus */

.tab-bar {
  height: 50px;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.tab {
  @include bold;
  text-transform: uppercase;
  text-align: center;
  color: $text-color;
  background: $light;
  width: 100%;
  margin: 0 $padding*0.5;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: opacity $transition-duration-instant;
  opacity: 0.5;
  cursor: pointer;

  &:first-child:not(only-child) {
    margin-left: 0;

    &.round {
      border-radius: $corner-radius 0 0 $corner-radius;
    }
  }

  &:last-child:not(only-child) {
    margin-right: 0;

    &.round {
      border-radius: 0 $corner-radius $corner-radius 0;
    }
  }

  &:only-child {
    margin: 0;

    &.round {
      border-radius: $corner-radius;
    }
  }

  &:hover, &:focus {
    opacity: 0.75;
  }

  &:active {
    opacity: 1;
  }

  &.selected {
    opacity: 1;
    cursor: default;

    &:hover {
      opacity: 1;
    }
  }

  & > * {
    flex-grow: 1;
    margin: $padding;
    line-height: 16pt;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
}

.menu-item {
  @include bold;
  text-transform: uppercase;
  text-align: center;
  color: $text-color;
  background: $light;
  height: 50px;
  margin: $padding*0.5 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: opacity $transition-duration-instant;
  opacity: 0.33;
  cursor: pointer;

  &:first-child:not(only-child) {
    margin-top: 0;

    &.round {
      border-radius: $corner-radius $corner-radius 0 0;
    }
  }

  &:last-child:not(only-child) {
    margin-bottom: 0;

    &.round {
      border-radius: 0 0 $corner-radius $corner-radius;
    }
  }

  &:only-child {
    margin: 0;

    &.round {
      border-radius: $corner-radius;
    }
  }

  &.dark {
    background: $medium;
  }

  &:hover, &:focus {
    opacity: 0.66;
    background: $medium-light;
  }

  &:active {
    opacity: 1;
    background: $light;
  }

  &.selected {
    opacity: 1;
    background: $light;
    cursor: default;
  }

  & > * {
    flex-grow: 1;
    margin: $padding;
    line-height: 16pt;
  }
}

/* Bars/Meters (svg) */

.bar-container {
  margin: $padding;
  position: relative;
  height: 16px;

  & > svg {
    position: absolute;
  }
}

.bar-background {
  fill: $black-transp-12;
}

.bar-mask {
  rx: $corner-radius - 2px;
  ry: $corner-radius - 2px;
}

.bar-tick {
  stroke: #000;
  stroke-width: 2px;
}

.bar-label, .bar-value-label {
  font-size: 14pt;
  //text-transform: uppercase;
  letter-spacing: 0.1em;
  fill: $text-color-dark;
}

.bar-value {
  fill: $text-color;
}

/* Bars/Meters (div) */

.div-bar-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.div-bar-background {
  @extend .div-bar-content-wrapper;
  background: $white-transp-18;
}

.div-bar-value-base {
  @extend .div-bar-content-wrapper;

  width: 50%;
  background: $text-color-dark;

  &.round-left {
    border-top-left-radius: 9001px;
    border-bottom-left-radius: 9001px;
  }

  &.round-right {
    border-top-right-radius: 9001px;
    border-bottom-right-radius: 9001px;
  }
}

.div-bar-segment-base {
  border-style: solid;
  border-width: 0;
  flex-grow: 1;
  z-index: 1;
}

.div-bar {
  position: relative;
  margin: $padding;
  border-radius: $corner-radius - 2px;
  overflow: hidden;

  &.grow {
    flex-grow: 1;
  }

  &.transparent {
    background: none;
  }

  &-horizontal {
    @extend .div-bar;

    height: $widget-height-small;
    min-height: $widget-height-small;

    & > .div-bar-content-wrapper {
      flex-direction: row;

      & > .div-bar-segment {
        @extend .div-bar-segment-base;

        border-left-width: 1px;
        border-right-width: 1px;

        &:first-child {
          border-left: 0;
        }

        &:last-child {
          border-right: 0;
        }
      }
    }

    &.round-start {
      border-top-left-radius: 9001px;
      border-bottom-left-radius: 9001px;
    }

    &.round-end {
      border-top-right-radius: 9001px;
      border-bottom-right-radius: 9001px;
    }

    & > .div-bar-value {
      @extend .div-bar-value-base;

      width: 50%;
      height: 100%;

      &.round-start {
        border-top-left-radius: 9001px;
        border-bottom-left-radius: 9001px;
      }

      &.round-end {
        border-top-right-radius: 9001px;
        border-bottom-right-radius: 9001px;
      }
    }
  }

  &-vertical {
    @extend .div-bar;

    width: $widget-height-small;

    & > .div-bar-content-wrapper {
      flex-direction: column;

      & > .div-bar-segment {
        @extend .div-bar-segment-base;

        border-top-width: 0.5px;
        border-bottom-width: 0.5px;

        &:first-child {
          border-top: 0;
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }

    &.round-start {
      border-top-left-radius: 9001px;
      border-top-right-radius: 9001px;
    }

    &.round-end {
      border-bottom-left-radius: 9001px;
      border-bottom-right-radius: 9001px;
    }

    & > .div-bar-value {
      @extend .div-bar-value-base;

      width: 100%;
      height: 50%;

      &.round-start {
        border-top-left-radius: 9001px;
        border-top-right-radius: 9001px;
      }

      &.round-end {
        border-bottom-left-radius: 9001px;
        border-bottom-right-radius: 9001px;
      }
    }
  }
}

/* Spider Chart */

.spider-container {
  width: 100%;
  height: 100%;
}

.spider-axis {
  fill: none;
  stroke: $light;
  stroke-width: 1px;
}

.spider-tick {
  fill: none;
  stroke: $medium;
  stroke-width: 1px;
}

.spider-tick-outer {
  fill: none;
  stroke: $light;
}

.spider-shape {
  stroke: $text-color-dark;
  stroke-width: 2px;
  fill: $white-transp-25;
}

.spider-label {
  font-size: 12pt;
  text-transform: uppercase;
  fill: $text-color-dark;
}

/* Type Icon */

.type-icon {
  min-width: $widget-height-large;
  width: $widget-height-large;
  min-height: $widget-height-large;
  height: $widget-height-large;
  box-shadow: 0 0 2px $dark;
  border-radius: $widget-height-large;
}

/* Pokémon Icons */

.pokemon-image-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.pokemon-image-frame {
  width: 100px;
  height: 100px;
  margin: $padding 0;
  border: 2px solid $light;
  border-radius: 1000px;
  position: relative;
  overflow: hidden;
  transition: border-color $transition-duration-instant;

  &.selected {
    border: 2px solid $text-color-dark;
  }
}

.pokemon-image {
  width: 66%;
  height: 66%;
  object-fit: scale-down;
  position: absolute;
  top: 17%;
  left: 17%;
}

.pokemon-image-name {
  position: absolute;
  bottom: 0pt;
  left: -50%;
  right: -50%;
  text-align: center;
  text-transform: uppercase;
  font-size: 12pt;
  color: $light;
  transition: color $transition-duration-instant;

  &.two-lines {
    bottom: -12pt;

    & > .pokemon-image-hot-area {
      bottom: -12pt !important;
    }
  }

  &.selected {
    color: $text-color-dark;
  }
}

.pokemon-image-hot-area {
  position: absolute;
  bottom: 0;
  border-radius: 1000px 1000px 0 0;
  cursor: pointer;
}
