@import "common.scss";

/* Tabs */

.tab-bar {
  height: 50px;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.tab {
  text-transform: uppercase;
  text-align: center;
  color: $text-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: opacity $transition-duration-instant;
  opacity: 0.5;
  cursor: pointer;

  &:hover, &:focus {
    opacity: 0.75;
  }

  & > * {
    flex-grow: 1;
    margin: $padding;
    line-height: 16pt;
  }

  &:active {
    opacity: 1;
  }

  &.selected {
    font-weight: bolder;
    opacity: 1;
    cursor: default;

    &:hover {
      opacity: 1;
    }
  }
}

/* Bars/Meters */

.bar-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.bar-background {
  @extend .bar-content-wrapper;
  background: $white-transp-18;
}

.bar-value-base {
  @extend .bar-content-wrapper;

  width: 50%;
  background: $text-color-dark;

  &.round-left {
    border-top-left-radius: 9001px;
    border-bottom-left-radius: 9001px;
  }

  &.round-right {
    border-top-right-radius: 9001px;
    border-bottom-right-radius: 9001px;
  }
}

.bar-segment-base {
  border-style: solid;
  border-width: 0;
  flex-grow: 1;
  z-index: 1;
}

.bar {
  position: relative;
  margin: $padding;
  border-radius: $corner-radius - 2px;
  overflow: hidden;

  &.grow {
    flex-grow: 1;
  }

  &.transparent {
    background: none;
  }

  &-horizontal {
    @extend .bar;

    height: $widget-height-small;

    & > .bar-content-wrapper {
      flex-direction: row;

      & > .bar-segment {
        @extend .bar-segment-base;

        border-left-width: 0.5px;
        border-right-width: 0.5px;

        &:first-child {
          border-left: 0;
        }

        &:last-child {
          border-right: 0;
        }
      }
    }

    &.round-start {
      border-top-left-radius: 9001px;
      border-bottom-left-radius: 9001px;
    }

    &.round-end {
      border-top-right-radius: 9001px;
      border-bottom-right-radius: 9001px;
    }

    & > .bar-value {
      @extend .bar-value-base;

      width: 50%;
      height: 100%;

      &.round-start {
        border-top-left-radius: 9001px;
        border-bottom-left-radius: 9001px;
      }

      &.round-end {
        border-top-right-radius: 9001px;
        border-bottom-right-radius: 9001px;
      }
    }
  }

  &-vertical {
    @extend .bar;

    width: $widget-height-small;

    & > .bar-content-wrapper {
      flex-direction: column;

      & > .bar-segment {
        @extend .bar-segment-base;

        border-top-width: 0.5px;
        border-bottom-width: 0.5px;

        &:first-child {
          border-top: 0;
        }

        &:last-child {
          border-bottom: 0;
        }
      }
    }

    &.round-start {
      border-top-left-radius: 9001px;
      border-top-right-radius: 9001px;
    }

    &.round-end {
      border-bottom-left-radius: 9001px;
      border-bottom-right-radius: 9001px;
    }

    & > .bar-value {
      @extend .bar-value-base;

      width: 100%;
      height: 50%;

      &.round-start {
        border-top-left-radius: 9001px;
        border-top-right-radius: 9001px;
      }

      &.round-end {
        border-bottom-left-radius: 9001px;
        border-bottom-right-radius: 9001px;
      }
    }
  }
}

/* Type Icon */

.type-icon {
  min-width: $widget-height-large;
  width: $widget-height-large;
  min-height: $widget-height-large;
  height: $widget-height-large;
  box-shadow: 0 0 2px $dark;
  border-radius: $widget-height-large;
}

/* Pokémon Icons */

.pokemon-image-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.pokemon-image-frame {
  width: 100px;
  height: 100px;
  margin: $padding 0;
  border: 2px solid $light;
  border-radius: 1000px;
  position: relative;
  overflow: hidden;
  transition: border-color $transition-duration-instant;

  &.selected {
    border: 2px solid $text-color-dark;
  }
}

.pokemon-image {
  width: 66%;
  height: 66%;
  position: absolute;
  top: 17%;
  left: 17%;
}

.pokemon-image-name {
  position: absolute;
  bottom: 0;
  left: -50%;
  right: -50%;
  text-align: center;
  text-transform: uppercase;
  font-size: 12pt;
  color: $light;
  transition: color $transition-duration-instant;

  &.selected {
    color: $text-color-dark;
  }
}

.pokemon-image-hot-area {
  position: absolute;
  bottom: 0;
  border-radius: 1000px 1000px 0 0;
  cursor: pointer;
}
